@model LinkShortener.Models.Script

@{
    ViewData["Title"] = "ویرایش اسکریپت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ویرایش اسکریپت</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateScript" asp-controller="Script" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScriptId" />
            <div class="form-group">
                <label asp-for="Customer" class="control-label"></label>
                <input asp-for="Customer" class="form-control" />
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="NumberPhone" class="control-label"></label>
                <input asp-for="NumberPhone" class="form-control" />
                <span asp-validation-for="NumberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="script" class="control-label"></label>
                <textarea rows="5" asp-for="script" class="form-control"> </textarea>
                <span asp-validation-for="script" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-warning" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-danger">بازگشت</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}